.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.gradientBox {
  padding: 20px;
  width: 400px; // adjust the width of the box here
  background: linear-gradient(45deg, #c8d9eb 30%, #668ba4 90%);
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 3em;
  color: #333;
  margin-bottom: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%; // adjust the width of the input fields here
}
 
.checkbox {
  margin: 1rem 0;
}
 
.button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  cursor: pointer;
 
  &:hover {
    background-color: #512da8;
  }
}
.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rememberLabel {
  margin-left: 10px;
  color: #0c0b0b;
  font-size: 1em;
}
 
.linkToSignUp {
  margin-top: 20px;
  color: #3f51b5;
  text-decoration: none;
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3f51b5;
  text-align: center;
}
 
.copyright {
  text-align: center;
  color: #625d5d;
  margin-top: 2rem;
}
