
.editBuildingForm {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-size: 1.2em;
    font-weight: bold;
    color: #38598b;
  }

  input {
    padding: 10px;
    border: 1px solid #38598b;
    border-radius: 5px;
    font-size: 1em;
  }
}