.cardComponentContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.postCreationContainer {
  section > label {
    color: #eeecec;
  }
}

.modalContainer {
  :global([class*='ant-modal-close']) {
    color: white;
  }
}