.noticeContainer {
  padding-top: 3rem;
  .navNotice {
    text-align: center;
    padding: 1rem;
    margin-bottom: 30px;
  }
  .emptyNotice {
    display:flex;
    justify-content: center;
    font-size: 1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
  }
  // .sortFilterAdd {
  //   justify-content: space-between;
    .icon {
      font-size: 150%;
      margin-right: 5px;
    }
    .select {
      border-radius: 10px;
      margin-left: 0px;
      margin-right: 10%;
      padding: 2px;
    }
  // }
  .cardComponentContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
 
.modalContainer {
  .postCreationContainer {
    section > label {
      color: #1c1919;
    }
  :global([class*='ant-select']){
      padding-top: 0.3rem;
  }
  }
  :global([class*='ant-modal-close']) {
    color: rgb(50, 42, 42);
  }
  :global([class*='ant-modal-content']){
    background: linear-gradient(to bottom, #b6c4d7, #8892c5);
    font-weight: 600;
  }
}