@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,700&display=swap');

body {
  background-color: #eaeff1 !important;
  font-family: Georgia, serif;
}

.containerCard {
  display: grid;
  grid-template-rows: 0.3fr 0.2fr 1fr 0.5fr 0.5fr;
  max-width: 28%;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  transition: 0.3s;
  border: 2px solid transparent;

  &:hover {
    border-color: #b3e1f5;
    .cardTitle > .cardEdit,
    .cardTitle > .cardDelete {
      opacity: 1;
    }
  }

  .cardTitle {
    font-weight: 600;
    font-size: 24px;
    display: grid;
    grid-template-columns: 3fr 0.2fr 0.2fr;
    
    .textTitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 18ch;
    }
    .cardEdit {
      opacity: 0;
      font-size: 1.2rem;
    }
    .cardDelete {
      opacity: 0;
      font-size: 1.2rem;
    }
  }

  .cardAuthor {
    color: #a2a6a9;
    font-size: small;
    margin-top: 8px;

    .author {
      color: #0077ff;
      font-style: italic;
      font-weight: 500;
    }
  }

  .cardDescription {
    margin-top: 10px;
    color: #494a4b;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Georgia, serif;
    font-size: 0.9rem;
  }

  .createdAt {
    margin-top: 10px;
    font-size: small;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;

    .readBtn {
      border: none;
      outline: none;
      background-color: #e0efff;
      border-radius: 20px;
      max-width: 120px;
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 2px;
      cursor: pointer;
      font-weight: 600;
      color: #0077ff;

      &:hover {
        background-color: #5273eb;
        color: #fff;
      }
    }
  }
}
