// @import url('bootstrap/dist/css/bootstrap.css');

li {
    margin-top: 15px;
}

.heading {
    margin-top: 50px;
}

.image {
    margin-top: 2%;
    margin-bottom: 2%;
    text-decoration: underline;
    font-size: 30px;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10x;
}

.section {
    margin-top: 2%;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7;
    letter-spacing: 0.00938em;
}


.order_list {
    margin-left: 5%;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.header {
    margin-left: 5%;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}