li {
    margin-top: 15px;
}

.heading {
    margin-top: 50px;
}

.help-image {
    margin-top: 5%;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10x;
}

.help-section {
    margin-top: 7%;
}

.order_list {
    margin-left: 5%;
}
