.container{
  display:flex;
  flex-direction:column;
  margin:auto;
  margin-top:150px;
  padding-bottom: 30px;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top:30px;
}

.text{
  color:blue;
  font-size: 40px;
  font-weight: 700;
}
.inputs{
  margin-top: 55px ;
  display:flex;
  flex-direction: column;
  gap: 25px;
}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width:480px;
  height:80px;
  background: rgb(215, 211, 211);
  border-radius: 6px;
}
.input input{
  height: 50px;
  weight:400px;
  background: transparent;
  border:none;
  outline:none;
  color: #797979;
  font-size: 19px;
}
.input-password{
  font-weight: 600;
  margin: 0px 30px;
  
}
.input-email{
  font-weight: 600;
  margin: 0px 30px;
  
}
